:root {
    --backgroundtext-color :#FFF;
    --h2text-color: #212121;
    --text-color:  #757575;
    --ourteam-background: #F5F4FA;
    --footer-color:  #2F303A;
--footer-adress: rgba(255, 255, 255, 0.60);
--akcent-color: #2196F3;
}